html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

body {
  line-height: 1.5; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

.row {
  margin-left: -20px;
  *zoom: 1; }

.row:before,
.row:after {
  display: table;
  content: ""; }

.row:after {
  clear: both; }

[class*="span"] {
  float: left;
  margin-left: 20px; }

.span1 {
  width: 60px; }

.span2 {
  width: 140px; }

.span3 {
  width: 220px; }

.span4 {
  width: 300px; }

.span5 {
  width: 380px; }

.span6 {
  width: 460px; }

.span7 {
  width: 540px; }

.span8 {
  width: 620px; }

.span9 {
  width: 700px; }

.span10 {
  width: 780px; }

.span11 {
  width: 860px; }

.span12, .container {
  width: 940px; }

.offset1 {
  margin-left: 100px; }

.offset2 {
  margin-left: 180px; }

.offset3 {
  margin-left: 260px; }

.offset4 {
  margin-left: 340px; }

.offset5 {
  margin-left: 420px; }

.offset6 {
  margin-left: 500px; }

.offset7 {
  margin-left: 580px; }

.offset8 {
  margin-left: 660px; }

.offset9 {
  margin-left: 740px; }

.offset10 {
  margin-left: 820px; }

.offset11 {
  margin-left: 900px; }

.row-fluid {
  width: 100%;
  *zoom: 1; }

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: ""; }

.row-fluid:after {
  clear: both; }

.row-fluid > [class*="span"] {
  float: left;
  margin-left: 2.127659574%; }

.row-fluid > [class*="span"]:first-child {
  margin-left: 0; }

.row-fluid .span1 {
  width: 6.382978723%; }

.row-fluid .span2 {
  width: 14.89361702%; }

.row-fluid .span3 {
  width: 23.404255317%; }

.row-fluid .span4 {
  width: 31.914893614%; }

.row-fluid .span5 {
  width: 40.425531911%; }

.row-fluid .span6 {
  width: 48.93617020799999%; }

.row-fluid .span7 {
  width: 57.446808505%; }

.row-fluid .span8 {
  width: 65.95744680199999%; }

.row-fluid .span9 {
  width: 74.468085099%; }

.row-fluid .span10 {
  width: 82.97872339599999%; }

.row-fluid .span11 {
  width: 91.489361693%; }

.row-fluid .span12 {
  width: 99.99999998999999%; }

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1; }

.container:before,
.container:after {
  display: table;
  content: ""; }

.container:after {
  clear: both; }

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  *zoom: 1; }

.container-fluid:before,
.container-fluid:after {
  display: table;
  content: ""; }

.container-fluid:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.hidden {
  display: none;
  visibility: hidden; }

.visible-phone {
  display: none !important; }

.visible-tablet {
  display: none !important; }

.hidden-desktop {
  display: none !important; }

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important; }

  .hidden-phone {
    display: none !important; }

  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important; }

  .hidden-tablet {
    display: none !important; }

  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; } }
@media (max-width: 767px) {
  .container-fluid {
    padding: 0; }

  .container {
    width: auto; }

  .row-fluid {
    width: 100%; }

  .row {
    margin-left: 0; }

  [class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0; } }
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1; }

  .row:before,
  .row:after {
    display: table;
    content: ""; }

  .row:after {
    clear: both; }

  [class*="span"] {
    float: left;
    margin-left: 20px; }

  .container {
    width: 724px; }

  .span12 {
    width: 724px; }

  .span11 {
    width: 662px; }

  .span10 {
    width: 600px; }

  .span9 {
    width: 538px; }

  .span8 {
    width: 476px; }

  .span7 {
    width: 414px; }

  .span6 {
    width: 352px; }

  .span5 {
    width: 290px; }

  .span4 {
    width: 228px; }

  .span3 {
    width: 166px; }

  .span2 {
    width: 104px; }

  .span1 {
    width: 42px; }

  .offset12 {
    margin-left: 764px; }

  .offset11 {
    margin-left: 702px; }

  .offset10 {
    margin-left: 640px; }

  .offset9 {
    margin-left: 578px; }

  .offset8 {
    margin-left: 516px; }

  .offset7 {
    margin-left: 454px; }

  .offset6 {
    margin-left: 392px; }

  .offset5 {
    margin-left: 330px; }

  .offset4 {
    margin-left: 268px; }

  .offset3 {
    margin-left: 206px; }

  .offset2 {
    margin-left: 144px; }

  .offset1 {
    margin-left: 82px; }

  .row-fluid {
    width: 100%;
    *zoom: 1; }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: ""; }

  .row-fluid:after {
    clear: both; }

  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.762430939%;
    *margin-left: 2.709239449638298%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }

  .row-fluid [class*="span"]:first-child {
    margin-left: 0; }

  .row-fluid .span12 {
    width: 99.999999993%;
    *width: 99.9468085036383%; }

  .row-fluid .span11 {
    width: 91.436464082%;
    *width: 91.38327259263829%; }

  .row-fluid .span10 {
    width: 82.87292817100001%;
    *width: 82.8197366816383%; }

  .row-fluid .span9 {
    width: 74.30939226%;
    *width: 74.25620077063829%; }

  .row-fluid .span8 {
    width: 65.74585634900001%;
    *width: 65.6926648596383%; }

  .row-fluid .span7 {
    width: 57.182320438000005%;
    *width: 57.129128948638304%; }

  .row-fluid .span6 {
    width: 48.618784527%;
    *width: 48.5655930376383%; }

  .row-fluid .span5 {
    width: 40.055248616%;
    *width: 40.0020571266383%; }

  .row-fluid .span4 {
    width: 31.491712705%;
    *width: 31.4385212156383%; }

  .row-fluid .span3 {
    width: 22.928176794%;
    *width: 22.874985304638297%; }

  .row-fluid .span2 {
    width: 14.364640883%;
    *width: 14.311449393638298%; }

  .row-fluid .span1 {
    width: 5.801104972%;
    *width: 5.747913482638298%; }

  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 714px; }

  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 652px; }

  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 590px; }

  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 528px; }

  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 466px; }

  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 404px; }

  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 342px; }

  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 280px; }

  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 218px; }

  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 156px; }

  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 94px; }

  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 32px; } }
@media (max-width: 979px) {
  body {
    padding-top: 0; } }
* {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

section,
nav,
header,
aside {
  display: block; }

em {
  font-style: italic; }

strong,
b {
  font-weight: bold; }

.is-visible,
.block {
  display: block; }

.is-hidden {
  display: none; }

.hide-text {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden; }

.feature-list {
  margin: 0 auto;
  position: relative;
  height: 456px;
  width: 640px; }

@-webkit-keyframes slideshow {
  0% {
    opacity: 1; }

  17% {
    opacity: 1; }

  25% {
    opacity: 0; }

  84% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes slideshow {
  0% {
    opacity: 1; }

  17% {
    opacity: 1; }

  25% {
    opacity: 0; }

  84% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes slideshow {
  0% {
    opacity: 1; }

  17% {
    opacity: 1; }

  25% {
    opacity: 0; }

  84% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes slideshow {
  0% {
    opacity: 1; }

  17% {
    opacity: 1; }

  25% {
    opacity: 0; }

  84% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.feature-item {
  -webkit-animation: slideshow 8s ease-in-out 0 infinite;
  -moz-animation: slideshow 8s ease-in-out 0 infinite;
  animation: slideshow 8s ease-in-out 0 infinite;
  position: absolute;
  left: 0; }
  .feature-item.item-1 {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    animation-delay: 0; }
  .feature-item.item-2 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s; }
  .feature-item.item-3 {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s; }
  .feature-item.item-4 {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s; }

.item-4 {
  z-index: 1; }

.item-3 {
  z-index: 2; }

.item-2 {
  z-index: 3; }

.item-1 {
  z-index: 4; }
