// =============================
// Color Palette
// =============================

$light-gray:  #f7f7f7;
$medium-gray: #bbb;
$dark-gray:   #444;

$link-color:  #279eb0;
$link-hover:  #ff0c4e;

// =============================
// Typography
// =============================

$base-stack:  'Libre Baskerville', Georgia, serif;
