// Slideshow Animation
// ---------------------------------------

// Variables for the slideshow animation
$images:  4;
$slide-duration: 3;
$slide-transition-duration: 1;
$total-slideshow-duration: ($slide-duration + $slide-transition-duration) * $images;

// Hat tip: http://css3.bradshawenterprises.com/cfimg/
// Set up formulas for each keyframe
$ss-keyframe-1: percentage(0);
$ss-keyframe-2: floor(percentage($slide-duration / $total-slideshow-duration));
$ss-keyframe-3: floor(percentage(($slide-duration + $slide-transition-duration) / $total-slideshow-duration));
$ss-keyframe-4: floor(100 - percentage($slide-transition-duration / $total-slideshow-duration));
$ss-keyframe-5: percentage(1);

// Define keyframes for slideshow animation
@include keyframes(slideshow) {
  #{$ss-keyframe-1} {
   opacity:1;
  }
  #{$ss-keyframe-2} {
   opacity:1;
  }
  #{$ss-keyframe-3} {
   opacity:0;
  }
  #{$ss-keyframe-4} {
   opacity:0;
  }
  #{$ss-keyframe-5} {
   opacity:1;
  }
}

// Cursor Animation
// ---------------------------------------
// Positions for all the click areas:
// 20px 20px
// 125px 385px
// 310px 248px
// 525px 274px
// 525px 436px

$total-cursor-duration: 12;
$pause-time: percentage(1/12);
$click-time: 1;

$c-keyframe-1:  percentage(0);
$c-keyframe-2:  floor($ss-keyframe-2 - 2);
$c-keyframe-3:  floor($c-keyframe-2 + $pause-time);
$c-keyframe-4:  floor($ss-keyframe-3 + 12);
$c-keyframe-5:  floor($c-keyframe-4 + $pause-time);
$c-keyframe-6:  floor($c-keyframe-5 + 18);
$c-keyframe-7:  floor($c-keyframe-6 + $pause-time);
$c-keyframe-8:  floor($c-keyframe-7 + 12);
$c-keyframe-9:  percentage((100 - 5) / 100);
$c-keyframe-10: percentage((100 - 4) / 100);
$c-keyframe-11: percentage(1);

@include keyframes(cursor) {
  0% {
    opacity: 1;
    left: 20px;
    top: 20px;
  }
  #{$c-keyframe-2} {
    left: 125px;
    top: 385px;
  }
  #{$c-keyframe-3} {
    left: 125px;
    top: 385px;
  }
  #{$c-keyframe-4} {
    left: 310px;
    top: 248px;
  }
  #{$c-keyframe-5} {
    left: 310px;
    top: 248px;
  }
  #{$c-keyframe-6} {
    left: 525px;
    top: 274px;
  }
  #{$c-keyframe-7} {
    left: 525px;
    top: 274px;
  }
  #{$c-keyframe-8} {
    opacity: 1;
    left: 525px;
    top: 436px;
  }
  #{$c-keyframe-9} {
    opacity: 0;
    left: 525px;
    top: 436px;
  }
  #{$c-keyframe-10} {
    left: 525px;
    top: 436px;
  }
  #{$c-keyframe-11} {
    left: 525px;
    top: 436px;
  }
}

// Setting z-index for each feature item
// Can set any other iteration-based styles too
// ---------------------------------------
$i: 4; // Number of slides in list
$index-start: $i + 1;

@while $i > 0 {
  $index: $index-start - $i;

  .item-#{$i} {
    z-index: $index;
  }

  $i: $i - 1;
}

// Okay, okay some actual styles
// ---------------------------------------
.browser-wrapper {
  background: #fff;
  border: 4px  solid $dark-gray;
  border-radius: 4px;
  overflow: hidden;
}

.browser-controls {
  background: $dark-gray;
  line-height: 20px;
  padding-left: 8px;
}

.btn {
  border-radius: 100%;
  display: inline-block;
    height: 10px;
    width: 10px;
  margin-right: 2px;
}

.btn-green {
  background: #7cd371;
}

.btn-yellow {
  background: #e8db3b;
}

.btn-red {
  background: #d04e0f;
}

.feature-list {
  margin: 8px auto;
  position: relative;
    height: 456px;
    width: 640px;
}

// Animation shorthand for forgetful Jess:
// name, duration, timing function, delay, iteration count, direction
.feature-item {
  @include animation(slideshow 12s ease-in-out 0 infinite);
  position: absolute;
    left: 0;

  &.item-1 {
    @include animation-delay(0);
  }
  &.item-2 {
    @include animation-delay(3s);
  }
  &.item-3 {
    @include animation-delay(6s);
  }
  &.item-4 {
    @include animation-delay(9s);
  }
}

.cursor {
  @include transition(all 2s ease-in-out);
  @include animation(cursor 12s ease-in-out 0 infinite);
  background: #444;
  border: 2px solid transparent;
  border-radius: 50%;
  display: block;
    height: 16px;
    width: 16px;
  position: absolute;
    left: 20px;
    top: 20px;
  z-index: 100;
}