.feature-list {
  position: relative;
    width: 400px;
    height: 400px;
}

.feature-item {
  background: #eee;
  width: 400px;
  height: 400px;
}



.cursor {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: inline-block;
  background: #000;
  position: absolute;
    top: 20px;
    left: 20px;

  -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 2s ease-in-out; /** Firefox **/
  -o-transition: all 2s ease-in-out; /** Opera **/
  transition: all 2s ease-in-out;

  &.ready {
    -webkit-transform: translate(350px,0); /** Chrome & Safari **/
    -o-transform: translate(350px,0); /** Opera **/
    -moz-transform: translate(350px,0); /** Firefox **/
    transform: translate(350px,0);
  }
}