@mixin rotate($degree, $origin: 50% 50%) {
  -webkit-transform: rotate($degree);
     -moz-transform: rotate($degree);
      -ms-transform: rotate($degree);
       -o-transform: rotate($degree);
          transform: rotate($degree);

  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
      -ms-transform-origin: $origin;
       -o-transform-origin: $origin;
          transform-origin: $origin;
}