// ======================
// Global
// ======================

* {
   -webkit-text-size-adjust:none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


// ======================
// Page Layout
// ======================

section,
nav,
header,
aside {
  display: block;
}

#page_header,
#page_footer {
  margin: 40px auto;
  width: 640px;
}

#main {
  margin: 0 auto;
  width: 664px;
}

#page_footer {
  border-top: 1px solid $medium-gray;
  padding-top: 20px;
  text-align: center;
}

// ======================
// Body Type
// ======================

body {
  font-family: $base-stack;
  font-size: 62.5%;
  line-height: 1.3;
  padding: 20px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}


// ======================
// Headings
// ======================

h1 {
  border-bottom: 1px solid #bbb;
  font-size: 32px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 8px;
  text-align: center;
}

// ======================
// Base Link Styles
// ======================

a {
  color: $link-color;
  text-decoration: none;
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: $link-hover;
  }
}


// ======================
// Emphasis
// ======================

em {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}


// ======================
// Intro/Lead Text
// ======================

.intro {
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
}

.fallback {
  display: none;

  @include breakpoint(small) {
    display: block;
  }
}

